<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>Alterar pessoa</title>
    </head>
    <body>
        <h1>Alterar pessoa</h1>
        <hr>
        <form action=/alterar_pessoa>
        	Número de registro: <input type=text name=nreg value={{pessoa.n_registro}}>
        	Nome: <input type=Text name=nome value={{pessoa.nome}}>
        	Endereço: <input name=endereco value={{pessoa.endereco}}>
        	Telefone: <input type=text name=telefone value={{pessoa.telefone}}>
        	<input type=submit value=Salvar>
    	</form>
    </body>
</html>
