<!DOCTYPE html>
<html lang=pt-br>
    <head>
        <meta charset=utf-8 />
        <title>Inserir pessoa</title>
    </head>
    <body>
        <h1>Inserir pessoa</h1>
        <hr>
    <form action=/adicionar_pessoa>
        Número de registro: <input type=text name=nreg>
        Nome: <input type=Text name=nome>
        Endereço: <textarea name=endereco></textarea>
        Telefone: <input type=text name=telefone>
        <input type=submit value=Salvar>
    </form>
    <br>
    </body>
</html>
