<!DOCTYPE html>
<html lang=pt-br>
    <head>
        <meta charset=utf-8 />
        <title>Lista de pessoas</title>
    </head>
    <body>
        <a href="/form_login">login</a>
        <h1>Lista de pessoas</h1>
	<br>
	{% for p in pessoa:%}
    {{p.nome}} | 
    {{p.endereco}} |
    {{p.telefone}} <a href=/excluir_pessoa?cod={{p.n_registro}}>X</a> <a href=/form_alterar_pessoa?cod={{p.n_registro}}>A</a>
    <br>
	{%endfor%}
        <hr>
        <a href=/form_inserir_pessoa>Inserir pessoa</a>
        <br>
    </body>
</html>
