<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>AdicionarReceita</title>
    </head>
    <body>
        <h1>Adicionar Receita</h1>
        <hr>
        <br>
        <form>
            <label>Nome:</label>
            <input type=text required>
            <br>
            <br>
            <label>Ingredientes:</label>
            <br>
            <br>
            <input type=checkbox name=ig{{i}}>
            <label for=ig{{i}}>{{}}</label>
        </form>
    </body>
</html>